:root {
    --yellow-color: #FDC727;
    --brown-color: #DAA402;

    --red-color: #F16D6D;

    --green-color: #7BEA8B;
    --darkgreen-color: #09A620;

    --lightblue-color: #C7CCE9;
    --mediumblue-color: #636F9F;
    --darkblue-color: #25387C;
    --shadowblue-color: #04113d;

    --black-color: #000000;
    --white-color: #FFFFFF;
    --disabled-color: #E1E1E1;
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    /* border: 2px solid green; */

    /* --english-font: 'Noto Sans', sans-serif;
    --korean-font: 'Noto Sans KR', sans-serif; */
  }

body {
    font-family: 'Noto Sans', 'Noto Sans KR';
}


@font-face {
    font-family: 'Noto Sans';
    font-weight: 300;
    src: url('../../fonts/Noto\ Sans/NotoSans-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    src: url(../../fonts/Noto\ Sans/NotoSans-Regular.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Noto Sans';
    font-weight: 500;
    src: url('../../fonts/Noto\ Sans/NotoSans-Medium.ttf') format('woff2');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    src: url('../../fonts/Noto\ Sans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url('../../fonts/Noto\ Sans\ KR/NotoSansKR-Light.ttf') format('truetype');
    unicode-range: U+AC00-D7A3;
  }

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url(../../fonts/Noto\ Sans\ KR/NotoSansKR-Regular.ttf) format('truetype');
    unicode-range: U+AC00-D7A3;
}


  
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url('../../fonts/Noto\ Sans\ KR/NotoSansKR-Medium.ttf') format('woff2');
    unicode-range: U+AC00-D7A3;

}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url('../../fonts/Noto\ Sans\ KR/NotoSansKR-Bold.ttf') format('truetype');
    unicode-range: U+AC00-D7A3;

}

  
/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    
    -webkit-font-smoothing: antialiased;
    
    text-rendering: optimizeLegibility;
  
    
    -moz-osx-font-smoothing: grayscale;
  
    
    font-feature-settings: 'liga';
  } */
  