:root {
    --yellow-color: #FDC727;
    --brown-color: #DAA402;

    --red-color: #FDC727;

    --green-color: #FDC727;
    --darkgreen-color: #FDC727;

    --lightblue-color: #C7CCE9;
    --mediumblue-color: #636F9F;
    --darkblue-color: #25387C;

    --black-color: #000000;
    --white-color: #FFFFFF;
    --disabled-color: #E1E1E1;

  }